/** {
  border: 1px solid red !important;
}*/

#app {
  text-align: center;
}

.team-list-item {
  font-size: 1.5em;
  padding-left: 40%;
  text-align: left;

}

.team-list {
  padding: 5% 20%;
}

/*.table-list-item {
  color: red;
  font-size: 1em;
}*/

/*.table-list {
  padding-left: 25%;
}*/

table, td, th {
  border: 1px solid #ddd;
  font-family: sans-serif;
  font-size: 1.05em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.row {

    text-align: center;
}


a {
  color: black;
  padding: 20px;
}


a:link {
    text-decoration: none;

}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: green;
}

a:active {
    text-decoration: underline;
}
</style>
